<div class="">
  <h2>{{username}}</h2>
  <p> <b>Description:</b> {{description}}</p>
  <p> <b>Created by:</b> {{user.username}}</p>
  <p> <b>Created date:</b> {{format_date create_date}}</p>
   <p><b>Details:</b></p>
  <p>
    <span class="blogdetails">{{details}}</span>
  </p>
</div>
