<!-- Loop over each object in the projects array -->
{{#each blogs as | blog| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/project/{{blog.id}}">{{blog.description}}</a>
    </h2>
    <p>Created by {{blog.user.name}} on {{blog.created_at}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.details}}
    </p>
  </div>
</div>
{{/each}}
