<div class="text-center">
  <h2>{{username}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.username}} on {{created_at}}</p>
  <p>
    <span class="blogdetails">{{details}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div>
